[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%C(yellow)%h%C(reset) %C(magenta)[%an]%Creset%C(green)%d%C(reset) %s %C(cyan)(%cr)'
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[user]
	email = jason2506@users.noreply.github.com
	name = Chi-En Wu
